doctype html
html
  head
    meta(charset='UTF-8')
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(content='utf-8', http-equiv='encoding')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    block scripts
