// Variables
// Color
$white:         #ffffff;

$bubbleBG:      $white;

// Fonts
$serif:         'Helvetica', arial, sans-serif;

// Shapes
$borderRadius:    1rem;

body  {
  background: salmon;
  font-family: $serif;
  font-size: 18px;
  padding: 1rem;
}

.app {
    width: 400px; height: 300px;
    position: relative;

    .fett {
        width: 150px; height: 150px;
        background: url(../images/boba-fett.gif);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 25px; left: 25px;
        z-index: 1;
    }
    .bubble {
        position: absolute;
        bottom: 200px; left: 50px; right: 50px;
        z-index: 2;
        background: $bubbleBG;
        border-radius: $borderRadius;
        border: 2px solid #000;
        display: none;
        padding: 1rem;
        box-sizing: border-box;
    }
}
